<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sweet Mandarin's Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
</head>

<body>

<!--Header-->
<div class="header">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Main</a>
                </li>
                <li class="nav-item">
                    <div sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/account}">Profile</a>
                    </div>
                    <div sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </div>
                </li>
                <li>
                    <div sec:authorize="isAuthenticated()">
                        <a th:href="@{/users}" class="nav-link">Other users</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline" th:action="@{/}" method="GET">
                <input class="form-control mr-sm-2 search_input" type="search" name="searchQuery" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 search_btn" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>


<!-- Body Content -->
<div class="body-content">
    <!-- Notes -->
    <div th:if="${not #lists.isEmpty(notePage)}">
        <div class="container">
            <div class="row">
                <th:block th:each="note : ${notePage.content}">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-footer text-muted">
                                <a th:href="@{/user_profile/{id} (id=${note.author.id})}" style="text-decoration: none;"
                                   th:text="${note.author.username}"></a>
                                <small th:text="'(' + ${note.published} + ')'"></small>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center" th:text="${note.title}"></h5>
                                <hr>
                                <p class="card-text" th:text="${note.content}"></p>
                                <hr>
                                <a th:href="@{/note_more/{id} (id=${note.id})}" class="btn btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>



            <!-- Pagination -->
            <div class="row">
                <div class="col-12">
                    <div th:if="${notePage.totalPages > 0}">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li th:classappend="${currPage} == 0 ? 'disabled' : ''" class="page-item">
                                    <a th:href="@{/(currPage=${currPage - 1})}" class="page-link " tabindex="-1" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>

                                <th:block th:each="i : ${#numbers.sequence(0, notePage.totalPages - 1)}">
                                    <!--<th:block th:if="">-->

                                    <!--</th:block>-->
                                    <li th:classappend="${currPage} == ${i} ? 'active' : ''" class="page-item">
                                        <a th:href="@{/(currPage=${i})}" class="page-link" th:text="${i + 1}"></a>
                                    </li>
                                </th:block>

                                <li th:classappend="${currPage} == ${notePage.totalPages - 1} ? 'disabled' : ''" class="page-item">
                                    <a class="page-link" th:href="@{/(currPage=${currPage + 1})}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


</body>
</html>